@keyframes MoveUpDown {
  100% {
    bottom: 350px;
  }
}
@keyframes leftToRight {
  100%{
    transform: translateX(10%);
  }
}

@keyframes spin {
  0% {
    transform:rotate(0deg);
  }
  25% {
     transform:rotate(00deg);
  }
  50% {
     transform:rotate(0deg);
  }
  75% {
     transform:rotate(-180deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}