@import 'variables.css';
@import 'keyframe.css';

/* bg_layer */
.bg_layer{
  background-image: url('../img/background.svg');
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  background-position: center;
}

/* Begin Mario */
#mario{
  max-height: auto;
  position: absolute;
  width: 4%;
}

.mario__jump{
  animation: MoveUpDown 1s linear 1;
  bottom: var(--floor);
  left: 30%;
}
.mario__forward{
  left: 30%;

  bottom: var(--floor);
  animation: leftToRight 1s ease-in-out forwards;
}
/* End Mario */

/* Begin Wall */
.wall{
  width: 100%;
  position: absolute;
  min-height: 43px;
}
.wall_1{
  max-width: 13%;
  left: 3%;
  bottom: 300px;
}

.wall_2{
  max-width: 7%;
  left: 52%;
  bottom: 300px;
}
.wall_3{
  max-width: 7%;
  left: 59%;
  bottom: 450px;
}
.wall_4{
  max-width: 7%;
  left: 66%;
  bottom: 300px;
}
/* End Wall */

/* Begin water_pipe */
.water_pipe{
  max-width: 5%;
  bottom: var(--floor);
  position:absolute;
}
.water_pipe_bottle{
  left: 18%;
}

.water_pipe_logo{
  left:80%;
}
/* End water_pipe */

/* gold Coins */
.coin_group_wrapper{
  position: absolute;
}
.left_group{
  display: flex;
  justify-content:space-around;
  max-width:13%;
  bottom: 450px;
  left: 3%;
  width: 100%;
}
/* mid group */

.mid_group{
  display: flex;
  flex-direction:column;
  justify-content: space-between; 
  bottom: 400px;
  left: 36%;
  max-width:13%;
  width: 100%;
  align-items: center;
}
.mid_group__top_coins, .mid_group__bottom_coins{
  width: 100%;
  display: flex;
  align-items: center;
}
.mid_group__top_coins{
  justify-content:space-evenly;
}
.mid_group__bottom_coins{
  justify-content:space-between;
  margin-top: 10px;
}
/* End mid group */
.three_quarters_group{
  display: flex;
  justify-content: space-between; 
  bottom: 500px;
  left: 73%;
  max-width:6%;
  width: 100%;
  align-items: center;
}
.last_group{
  display: flex;
  flex-direction: column;
  bottom: 400px;
  left: 87%;
  max-width:9%;
  width: 100%;
  align-items: center;
}
.last_group__bottom_coin{
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.coin{
  width: 38px;
  height: auto;
}

/* End gold Coins */
