.layer_bg{
  background-image: url('./img/background.svg');
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  background-position: center;
}